<div id='lists'>
    <% @lists.each do |list| %>
    <ul class='list'>
        <% list.todos.each do |todo| %>
        <%= link_to "lists/#{list.id}/#{todo.id}" do %>
        <li><%= todo.task %> <span class='doneIndex'><%= todo.done ? "✔" : "✘" %></span></li>
        <% end %>
        <% end %>
        <button><%= link_to "New task", "/lists/#{list.id}" %></button>
    </ul>
    <% end %>
</div>