<%= form_with(url: "/lists/#{@list.id}/#{@todo.id}", method: 'patch') do |f| %>
<div class="field">
    <%= f.text_field :task %><br>
    <%= f.text_area :notes %>
</div>
<div class="actions">
    <%= f.submit "Update" %>
</div>
<% end %>