<%= form_with(url: "/lists/#{params[:list_id]}", method: 'post') do |f| %>
<div class="field">
    <%= f.text_field :task %><br>
    <%= f.text_area :notes %>
</div>
<div class="actions">
    <%= f.submit "Create" %>
</div>
<% end %>