// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

 h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
 }

body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(255, 152, 152);
}

#lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list {
    border: 1px black solid;
    border-radius: 5px;
    width: 30%;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.75);
}

.list h3 {
    font-weight: bold;
    margin: 0;
}

.list li {
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}

.deleteList {
    margin: 0;
    float: left;
    position: absolute;
}

#newList {
    width: 10%;
    border-radius: 5px;
}

.list li:hover, button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

.doneIndex {
    float: right;
    margin: -4px;
    padding: 0 4px;
}