// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    font-family: 'Comfortaa', cursive;
}

#lists {
    display: flex;
    justify-content: center;
}