// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show {
    border: 1px black solid;
    border-radius: 5px;
    margin: 0 auto;
    width: 30%;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(252, 173, 173);
}

.list li:hover, button:hover, input[type="submit"]:hover, .doneShow:hover {
    background-color: rgb(255, 119, 119);
}

.doneIndex {
    float: right;
    font-size: 115%;
    margin: -4px;
    padding: 0 4px;
}

.doneShow {
    border-radius: 50%;
    border: 1px black solid;
    width: 45px;
    height: 45px;
    display: inline-block;
}