// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.list {
    border: 1px black solid;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(252, 173, 173);
}

.list li {
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}

.list li:hover {
    background-color: rgb(255, 119, 119);
}

.done {
    float: right;
    font-size: 115%;
    margin: -4px;
    padding: 0 4px;
    border-left: 1px black solid;
}