// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show, form {
    border: 1px black solid;
    border-radius: 5px;
    margin: 0 auto;
    width: 30%;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.75);
}

.doneShow:hover {
    cursor: pointer;
}

.doneShow {
    border-radius: 50%;
    // border: 1px black solid;
    width: 45px;
    height: 45px;
    display: inline-block;
}

@media only screen and (max-device-width: 800px) {
    .show, form {
        padding: 30px;
    }
    .show, form, input, textarea {
        font-size: 80px !important;
        margin: 20px auto;
        border-radius: 30px;
        width: 90% !important;
    }
    .doneShow {
        font-size: 120px;
    }
  }